<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.androidcomponent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".P000Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".P001Intent"></activity>
        <activity android:name=".P001IntentYakala"></activity>
        <activity android:name=".P002TextPlay"></activity>

        <activity android:name=".P003MenuItem"></activity>
        <activity android:name=".P004PreferenceActivity"></activity>
        <activity android:name=".P005GetPrefrenceInfo"></activity>
        <activity android:name=".P006CreateUserFaceWithJava"></activity>
        <activity android:name=".P007ListViewCustomRow"></activity>
        <activity android:name=".P008GestureDedectorCompat"></activity>
        <activity android:name=".P009SharedPreferences"></activity>

        <activity android:name=".P010BitmapDrawable"></activity>
        <activity android:name=".P011ResDrawableXml"></activity>
        <activity android:name=".P012CanvasRectPaint"></activity>
        <activity android:name=".P013TabHostTabSpec"></activity>
        <activity android:name=".P014FileOutputStream"></activity>
        <activity android:name=".P015FileInputStream"></activity>
        <activity android:name=".P016Dialog"></activity>
        <activity android:name=".P017SQLiteDatabaseClass"></activity>
        <activity android:name=".P018LinearLayout"></activity>
        <activity android:name=".P019ContextMenu"></activity>
        <activity android:name=".P020AlertDialogProf"></activity>
        <activity android:name=".P021ListHashMap"></activity>
        <activity android:name=".P022onConfigurationChanged"
            android:configChanges="orientation|screenSize"
            ></activity>
        <activity android:name=".P023AddTextChangeListener"></activity>
        <activity android:name=".P024SendParcelableData"></activity>
        <activity android:name=".P024LoadParcelableData"></activity>

    </application>

</manifest>